body {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header h1 {
  color: #FBC02D;
  text-align: center;
  margin-top: 20px;
}

.container {
  min-height: 100vh;
  /* max-width: 90%; */
  /* margin: 20px auto; */
  padding: 0 20px;
  background: #F5F5F5;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.static-wrapper {
  position: sticky;
  top: 0;
  background-color: #FFFFFF;
  z-index: 1000;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 8px;
}

/* Search styles */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 80%;
  height: 25px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

/* Tag styles */
.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: transparent;
  color: black; 
  border: 2px solid #FBC02D; 
  border-radius: 20px; 
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.tag.selected {
  background-color: #FBC02D; 
  color: black; 
}

.tag:hover {
  background-color: #f9c20e;
}

/* Question styles */
.question-list{
  padding: 20px;
}

.question-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-card h2 {
  margin: 0;
  font-size: 18px;
}

.question-card p {
  margin: 5px 0;
  color: #666;
}

.question-wrapper a {
  text-decoration: none;
  color: black;
}

.question-card .score, .question-card .answers {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.highlight-border {
  border: 2px solid #FBC02D;
  padding: 3px;
}

.highlight {
  border: 1px solid #DFF0D8;
  padding: 3px;
  background-color: #DFF0D8;
  color: black;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* Loading styles */
.loading {
  text-align: center;
  font-size: 16px;
  color: #666;
}

.no-questions {
  text-align: center;
  background-color: #e5e6ea;
  padding: 20px;
  border-radius: 8px;
  margin: 20px auto;
  max-width: 600px;
  font-size: 18px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}