body {
  background-color: #F5F5F5;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.header h1 {
  color: #FBC02D;
  text-align: center;
  margin-top: 20px;
}

.container {
    max-width: 95%;
    margin: 20px auto;
    padding: 20px;
    background: #FFFFFF;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

/* Search styles */
.search-bar {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.search-bar input {
  width: 300px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.search-bar button {
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  margin-left: 10px;
  cursor: pointer;
}

.search-bar button:hover {
  background-color: #0056b3;
}

/* Tag styles */
.tags {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 20px;
}

.tag {
  background-color: transparent;
  color: black; 
  border: 2px solid #FBC02D; 
  border-radius: 20px; 
  padding: 10px 15px;
  margin: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s; 
}

.tag.selected {
  background-color: #FBC02D; 
  color: black; 
}

.tag:hover {
  background-color: #f9c20e;
}

/* Question card styles */
.question-card {
  background-color: white;
  border-radius: 8px;
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.question-card h2 {
  margin: 0;
  font-size: 18px;
}

.question-card p {
  margin: 5px 0;
  color: #666;
}

.question-card .score, .question-card .answers {
  display: inline-block;
  margin-right: 10px;
  font-weight: bold;
}

.profile-pic {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-left: 10px;
}

/* Loading styles */
.loading {
  text-align: center;
  font-size: 16px;
  color: #666;
}
